.heading-container {
    width: 100%;
    height: auto;
    padding: 56px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    opacity: 1;
  
    /* Mobile styles */
    @media only screen and (max-width: 768px) {
        width: 360px;
        padding: 24px;
    }
  }
  
  .written {
    width: 100%;
    max-width: 975px;
    gap: 36px;
    opacity: 1;
    text-align: center;
  
    /* Mobile styles */
    @media only screen and (max-width: 768px) {
      gap: 24px;
      font-family: Extatica;
      font-size: 28px;
      font-weight: 600;
      line-height: 35.84px;
      text-align: center;
    }
  }
  
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  
    /* Mobile styles */
    @media only screen and (max-width: 768px) {
      gap: 12px;
      width: 100%;
    }
  }
  
  .heading-1 {
    width: 100%;
    text-align: center;
  
    .text {
      font-family: Inter;
      font-size: 28px;
      font-weight: 500;
      line-height: 35.84px;
      // color: #2D56EC;
      /* Set the gradient as the background */
      background: linear-gradient(90.16deg, #2D56EC 0.21%, #1AACEA 100.08%);
        
      /* Clip the background to the text */
      -webkit-background-clip: text;
      background-clip: text;

      /* Make the text transparent so the gradient shows */
      color: transparent;
  
      /* Mobile styles */
      @media only screen and (max-width: 768px) {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
  
  .heading-2 {
    font-family: Extatica;
    font-size: 48px;
    font-weight: 600;
    line-height: 71.68px;
    text-align: center;
    color: #334155;
  
    /* Mobile styles */
    @media only screen and (max-width: 768px) {
      font-size: 35px;
      line-height: 50px;
    }
  }
  
  .desc {
    width: 100%;
    max-width: 878px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
    color: #64748B;
  
    .any {
      font-family: Inter;
      font-size: 20px;
      font-weight: 600;
      color: #1AACEA;
    }
  
    /* Mobile styles */
    @media only screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 24px;
      padding: 0 12px;
    }
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    opacity: 1;
  
    .inner {
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 100%;
      max-width: 689px;

    .input-container {
        display: flex;
        gap: 16px; 
        width: 100%;
        max-width: 100%;
      
        .name, .email {
          flex: 1;
          height: 44px;
          padding: 12px 16px;
          border-radius: 4px;
          background: #F1F5F9;
          border: 1px solid #CBD5E1;
        }
      
        .second {
          padding: 12px 20px;
        }
      
        /* Mobile styles */
        @media only screen and (max-width: 768px) {
          flex-direction: column; 
          
          .name, .email {
            width: 100%; 
          }
      
          .second {
            width: 100%; 
          }
        }
      }
      
    }
  
    .form-below {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      opacity: 1;
  
      .form-below-text {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        color: #64748B;
      }
  
      .ellipse {
        width: 6px;
        height: 6px;
        background-color: #94A3B8;
        border-radius: 50%;
      }
  
      /* Mobile styles */
    //   @media only screen and (max-width: 768px) {
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 6px;
    //   }
    }
  }
  
  .start-trial {
    /* Styles for StartTrial button */
    padding: 12px 20px;
    background: linear-gradient(0deg, #1353DD, #1353DD),
                linear-gradient(93.69deg, #2D56EC -14.13%, #1AACEA 120.91%);
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    cursor: pointer;
  
    /* Mobile styles */
    @media only screen and (max-width: 768px) {
      width: 100%;
      max-width: 300px;
    }
  }
  