.navbar-container {
    width: 1366px;
    height: 68px;
    padding: 12px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CBD5E1;
  
    .hamburger {
      display: none;
      font-size: 30px;
      cursor: pointer;
      padding: 12px, 14px, 12px, 16px;
    }
  
    .nav-links {
      display: flex;
      gap: 16px;
      align-items: center;
      
      
      .first {
        display: flex;
        gap: 16px;
      }
    }
  
    /* Mobile styles */
    @media only screen and (max-width: 768px) {
        width: 360px;
        height: 68px;
        padding: 12px 16px;
  
      .hamburger {
        display: block;
      }
  
      .nav-links {
        display: none; /* Hide nav-links initially on mobile */
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 68px;
        right: 0;
        width: 100%;
        padding: 16px;
  
        .first {
          flex-direction: column;
          gap: 10px;
        }
      }
  
      .nav-links.open {
        display: flex; /* Show the menu when hamburger is clicked */
      }
    }
  }
  
  .logo-div {
    display: flex;
    align-items: center;
    opacity: 1; /* Set opacity to 1 to make the logo visible */
  }
  
  .logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    opacity: 1;
  }
  
  .nav-links {
    display: flex;
    gap: 16px;
    opacity: 1;
  }
  
  .first {
    display: flex;
    gap: 16px;
    padding-right: 15px;
  }
  
  .first-in {
    padding: 12px 20px;
    width: 42px;
    height: 20px;
    gap: 0px;
    opacity: 0px;

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    text-align: left;

    color: #64748B;
  }
  